
<div class="row">
    <div class="col-12">
        <div class="header__content">
            <!-- header logo -->
            <a href="/Anasayfa" class="header__logo">
                <img src="~/Content/img/ZenMovie2.png" alt="" >
            </a>
            <!-- end header logo -->
            <!-- header nav -->
            <ul class="header__nav">
                <!-- dropdown -->
                <li class="header__nav-item">
                    <a class="dropdown-toggle header__nav-link" href="/Anasayfa" role="button" id="dropdownMenuHome"> ANA SAYFA </a>
                </li>
                <!-- end dropdown -->
                <!-- dropdown -->
                <li class="header__nav-item">
                    <a class="dropdown-toggle header__nav-link" href="/Kategoriler" role="button" id="dropdownMenuCatalog"> KATEGORİLER </a>
                </li>
                <!-- end dropdown -->
                <!-- dropdown -->
                <li class="header__nav-item">
                    <a class="dropdown-toggle header__nav-link" href="/Diziler" role="button" id="dropdownMenuCatalog"> DİZİLER </a>
                </li>
                <!-- end dropdown -->
                <li class="header__nav-item">
                    <a href="/Hakkimizda" class="header__nav-link"> HAKKIMIZDA </a>
                </li>
                <li class="header__nav-item">
                    <a href="/Iletisim" class="header__nav-link"> İLETİŞİM </a>
                </li>
                <!-- dropdown -->
                <!--
        <li class="dropdown header__nav-item">
        <a class="dropdown-toggle header__nav-link header__nav-link--more" href="#" role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon ion-ios-more"></i></a>
        <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuMore">
            <li><a href="about.html">About</a></li>
            <li><a href="privacy.html">Privacy Policy</a></li>
            <li><a href="contacts.html">Contacts</a></li>
        </ul>
    </li>
    -->
                <!-- end dropdown -->
            </ul>
            <!-- end header nav -->
            <!-- header auth -->
            <div class="header__auth">
                <form action="/Arama/Index" method="post" class="header__search">
                    <input class="header__search-input" name="girilenkelime" type="text" placeholder="Search...">
                    <button class="header__search-button" type="button">
                        <i class="icon ion-ios-search"></i>
                    </button>
                    <button class="header__search-close" type="button">
                        <i class="icon ion-md-close"></i>
                    </button>
                </form>
                <button class="header__search-btn" type="button">
                    <i class="icon ion-ios-search"></i>
                </button>
            </div>
            <!-- end header auth -->
            <!-- header menu btn -->
            <button class="header__btn" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- end header menu btn -->
        </div>
    </div>
</div>